<!DOCTYPE html>
<html>
<head>
    <title>Repeat Counter</title>
</head>
<body>
    <h1>Repeat Counter</h1>
    <p>Your word occurs {{ frequency.CountRepeats }} times in this string.</p>
</body>
</html>
